package ${package}.dao;

import ${package}.entity.${className}Entity;
import ${main}.mybatis.dao.BaseDao;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 *
 * @author ${author} ${email}
 * @since ${version} ${date}
 */
@Mapper
public interface ${className}Dao extends BaseDao<${className}Entity> {
	
}