package ${package}.dto;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import ${main}.mybatis.dto.BashDTO;

import lombok.EqualsAndHashCode;
import lombok.Data;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.util.Date;

/**
 * ${comments}
 *
 * @author ${author} ${email}
 * @since ${version} ${date}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@ApiModel(value = "${comments}")
public class ${className}DTO extends BashDTO{
#foreach ($column in $columns)
	#if($column.attrname != 'createBy' && $column.attrname != 'createAt'
	&& $column.attrname != 'updateBy' && $column.attrname != 'updateAt'
	&& $column.attrname != 'deleteBy' && $column.attrname != 'deleteAt'
	&& $column.attrname != 'id' && $column.attrname != 'delFlag')
	@ApiModelProperty(value = "$column.comments")
	private $column.attrType $column.attrname;

#end
#end
}